# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel & Gemini
.vercel
.gemini
